<div class="container mt- mb-5">
  <h1 class="text-center">About</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde eligendi
    consequatur optio magnam vel architecto, iste, doloribus deleniti fuga ex
    esse nemo totam vitae voluptatibus soluta cumque deserunt dolorem obcaecati?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde eligendi
    consequatur optio magnam vel architecto, iste, doloribus deleniti fuga ex
    esse nemo totam vitae voluptatibus soluta cumque deserunt dolorem obcaecati?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde eligendi
    consequatur optio magnam vel architecto, iste, doloribus deleniti fuga ex
    esse nemo totam vitae voluptatibus soluta cumque deserunt dolorem obcaecati?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde eligendi
    consequatur optio magnam vel architecto, iste, doloribus deleniti fuga ex
    esse nemo totam vitae voluptatibus soluta cumque deserunt dolorem obcaecati?
    <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex libero at
    tempore voluptatem sapiente mollitia nobis aspernatur nihil. Molestiae ea
    nam distinctio dicta iste perferendis commodi hic! Voluptatem, culpa
    tempore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex libero
    at tempore voluptatem sapiente mollitia nobis aspernatur nihil. Molestiae ea
    nam distinctio dicta iste perferendis commodi hic! Voluptatem, culpa
    tempore!
    <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex libero at
    tempore voluptatem sapiente mollitia nobis aspernatur nihil. Molestiae ea
    nam distinctio dicta iste perferendis commodi hic! Voluptatem, culpa
    tempore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex libero
    at tempore voluptatem sapiente mollitia nobis aspernatur nihil. Molestiae ea
    nam distinctio dicta iste perferendis commodi hic! Voluptatem, culpa
    tempore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex libero
    at tempore voluptatem sapiente mollitia nobis aspernatur nihil. Molestiae ea
    nam distinctio dicta iste perferendis commodi hic! Voluptatem, culpa
    tempore!
    <br />
  </p>
</div>
